$theme-colour: rgb(49, 55, 228);

.met {
    position: relative;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.met-panel {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px;
    background-color: #111;
    opacity: 20%;
    border-radius: 8px;
    // To allow for :hover
    z-index: 9999;
    button, span {
        cursor: pointer;
        border: none;
        border-radius: 4px;
        &:hover {
            opacity: 70%;
        }
    }
    .met-btn--on {
        color: white;
        background-color: $theme-colour;
    }
    &:hover, &.met-panel--expanded, &.met-panel--pinned {
        opacity: 70%;
        .met-dropdown {
            display: none;
        }
        .met-collapse {
            display: grid;
        }
    }
}

.met-collapse {
    display: none;
    vertical-align: text-top;
    grid-template-columns: repeat(5, 24px);
    grid-template-rows: repeat(3, 20px);
    text-align: center;
    gap: 4px;
}

.met-playback-indicator {
    grid-column: span 2;
}