* {
    box-sizing: border-box;
}
body {
    
    margin: 0;
    padding: 0;
}
video {
    width: 100vw;
}
.met {
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.met-playback-indicator {
    color: white;
}
.met-panel {
    padding: 5px;
    background-color: black;
    opacity: 10%;
    border-radius: 8px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 4px;
    top: 10px;
    left: 10px;
    // To allow for :hover
    z-index: 9999;
    .met-collapse {
        display: none;
        flex-direction: column;
        gap: 4px;
    }
    .met-toggles, .met-playback {
        display: flex;
        gap: 4px;
        .met-btn--on {
            color: white;
            background-color: rgb(49, 55, 228);
        }
        button {
            cursor: pointer;
            display: block;
            border: none;
            border-radius: 6px;
            margin: 0;
            padding: 0 4px;
            min-width: fit-content;
            height: 24px;
            width: 24px;
            text-align: center;
            line-height: 16px;
            font-size: 16px;
            &:hover {
                opacity: 80%;
            }
        }
    }
    
    &:hover {
        opacity: 60%;
        .met-collapse {
            display: flex;
        }
        +video {
            pointer-events: none;
        }
    }
}